* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

main {
  max-width: 50rem;
  margin: 0 auto;
}

.more-info {
  position: absolute;
  /* left: 1em; */
  bottom: 0.5em;
  /* color: white; */
  font-size: 1.1em;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-family: "Open Sans Condensed", -apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 1;
  padding: 0 1.5rem;
}

.more-info * {
  float: left;
}

.info-icon {
  color: white;
}

.info-icon:hover {
  color: #b80000;
}

.shows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}

.show {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.show .svg {
  width: 100%;
  user-select: none;
}

/* San Jose */
.svg.san-jose-12 {
  width: 75%;
}

/* Los Angeles - Oct 3 */
.svg.inglewood-17 {
  width: 90%;
}

/* Phoenix  */
.svg.glendale-15 {
  width: 110%;
}

/* Nashville */
.svg.nashville-2 {
  width: 83%;
}

.overview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.show:hover {
  /* color: #b80000;
  background-color: #2a2a2a; */
}

.info {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.0rem;
}

.info div {
  margin-bottom: 0.5rem;
}

.infoBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.28;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.date {
  color: #b80000;
  font-size: 1.7rem;
}

.city {
  font-size: 1.29rem;
}

.tickets a {
  font-size: 2rem;
  font-family: "Open Sans Condensed", -apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  text-shadow: -1px -1px 0 #b80000, 1px -1px 0 #b80000, -1px 1px 0 #b80000,
    1px 1px 0 #b80000;
}

.tickets a:hover {
  text-decoration: underline;
}
